# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

output/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (opcional)
.vscode/

# macOS & Linux artifacts
.DS_Store
*.swp
